
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom,
    #fff5f7,
    #ffeef2
  );
}

html {
  scroll-behavior: smooth;
}

.home {
  padding: 30px;
}


.hero {
  text-align: center;
  margin-bottom: 60px;
  padding: 80px 20px;

  border-radius: 20px;

  background: linear-gradient(
    135deg,
    #ff758c,
    #ff7eb3
  );

  color: white;

  box-shadow: 0 10px 30px rgba(0, 0, 0, .15);

  animation: fade 1s ease;
}

.hero h2 {
  font-size: 4rem;
  margin-bottom: 20px;

  text-shadow: 2px 2px 8px rgba(0,0,0,.2);
}

.hero p {
  max-width: 800px;
  margin: auto;

  line-height: 1.8;

  font-size: 1.3rem;
}


.card-section {
  display: flex;
  gap: 40px;
  align-items: center;

  background: white;

  padding: 30px;

  border-radius: 20px;

  border-left: 6px solid #ff6b81;

  box-shadow: 0 10px 25px rgba(0, 0, 0, .08);

  transition: .3s;

  margin: 50px 0;
}

.card-section:hover {
  transform: translateY(-5px);
}

.card-section img {
  width: 260px;
  height: 320px;

  object-fit: cover;

  border-radius: 20px;

  border: 8px solid white;

  box-shadow:
    0 10px 25px rgba(0,0,0,.15),
    0 0 0 3px #ff6b81;

  transition: .4s;
}

.card-section img:hover {
  transform: scale(1.05) rotate(-2deg);
}

.card-section h2 {
  color: #ff4d6d;

  font-size: 32px;

  margin-bottom: 20px;
}

.card-section p {
  line-height: 1.8;
  color: #444;
  font-size: 18px;
}


#galeria {
  margin-top: 70px;
}

#galeria h2 {
  text-align: center;
  color: #ff4d6d;
  font-size: 32px;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 300px;
  height: 220px;

  object-fit: cover;

  border-radius: 20px;

  border: 5px solid white;

  box-shadow: 0 5px 20px rgba(0,0,0,.15);

  transition: .3s;
}

.gallery img:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
}


.mensagem {
  text-align: center;

  margin-top: 60px;

  background: white;

  padding: 40px;

  border-radius: 20px;

  border-top: 5px solid #ff6b81;

  box-shadow: 0 5px 20px rgba(0,0,0,.08);
}

.mensagem h2 {
  color: #ff4d6d;
  font-size: 32px;
}

.mensagem p {
  max-width: 800px;

  margin: auto;

  line-height: 2;

  font-size: 20px;

  color: #555;
}


@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .hero h2 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .card-section {
    flex-direction: column;
    text-align: center;
  }

  .card-section img {
    width: 220px;
    height: 280px;
  }

  .gallery img {
    width: 90%;
    height: auto;
  }

  .mensagem p {
    font-size: 18px;
  }
}